/* Dark theme */
body{
    color: aliceblue;
    background-color: rgb(228, 163, 163);
}


/* Custom page */

/* Title box */
header {
    padding: 40px;
    text-align: center;
    background: #d44c4c;
    color: black;
    font-size: 30px;
    margin: 1em;
  }

/* center */
.center {
    width: 500px;
    border: 3px solid green;
    padding: 10px;
    float: left;
}
.word{
    display: inline-block;
    background-color: #0395e9;
    width: 500px;
    height: 500px;

} 
.left{

}

/* size input text */
input[type=text] {
    width: 40px;
    margin-left: 2.5em;
}

/* size box with the color */
.box{
    width: 0.8em;
    height: 1em;
    display: inline-block;
}
/* ⇩⇩⇩color option⇩⇩⇩ */
.gray{
    background-color: gray;
}
.orange{
    background-color: orange;
}

.green{
    background-color: green;
}
/* ⇧⇧⇧color option⇧⇧⇧ */

/* div */
.letter{
    margin-left: 1.5em;
    background-color: #d44c4c;
    width: 60px;
    display: inline-block;
}

button{
    margin-top: 2em;
    margin-left: 20%
}

