/* Dark theme */
body{
    color: black;
    background-color: gray;
}

/*titolo pagina*/
header{
    font-size: 5em;
    width: 100%;
    height: 80px;
    background-color: antiquewhite;
    text-align: center;
}

/*riquadro sinistra con gli input*/
#preFormLetter{
    width: 60%;
    height: 600px;
    background-color: rgb(158, 202, 121);
    display: inline-block;
    float: left;
}
/*riquadro destra con le parole*/
#word{
    display: inline-block;
    width: 40%;
    height: 600px;
    background-color: rgb(109, 204, 221);
}


/*riquadroper il form*/
#row1{
    width: 100%;
}

/*cella input*/
input{
    width: 40%;
    height: 60px;
    margin: 10%;
}
/*teto nella cella input*/
input[type=text] {
    font-size: 5em;
    text-align: center;
    background-color: grey;
    border-color: black;
    border-style:groove;
}

/*input colorati*/
.optionRadio{
    margin-left: 0%;
    display: inline-block;
    width: 10%;
    position: relative;
    
}

/*pallino colorato*/
input[type='radio']:after {
    top:  20px;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 80%;
    position: relative;
    background-color: greenyellow;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    top:  20px;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 80%;
    position: relative;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px dashed black;
}
/*caratteristiche del pallino arancione*/
.orange[type='radio']:after {
    background-color: yellow;

}
.orange[type='radio']:checked:after {
    background-color: orangered;
}


/*div per mettere le lettere allineate */
#letter{
    display: block;
    background-color: red;
    float: left;
    width: 135px;
}


/*Mobile*/
/*Adattamento mobile*/
@media only screen and (max-width: 600px) {
    #preFormLetter{
        width: 100%;
    }
    #word{
        width: 100%;
    }
}
